
html {
    font-size: 3vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("../images/Background.jpg");
}

main {
    width: 96%;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: white;
    border: 4px solid black;
    padding: 0px 20px 20px 20px;
    /* border: 5px solid black; */
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow: auto;
}



td > img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 53px;
    border: 2px solid black;
}
table {
    table-layout: fixed;
    width: 90%;
    margin-left: 10%;
    border-collapse: collapse;
    color: white;
    overflow: hidden;
    border-radius: 20px;

}

tr th {
    padding-left: 10px;
    padding-right: 20px;
}

thead th:nth-child(1) {
    width: 40%;
}
thead th:nth-child(2) {
    width: 40%;
}

th {
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: green;
}
tbody tr:nth-child(even) {
    background-color: gray;;
}

tr td:nth-child(3) {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    padding: 5px;
}